DATABASE_URL=postgresql://task_manager_db_lckd_user:DhdI2jpJl7arnFsyjD7v56277tY7CDK6@dpg-d9bdt6ecjfls7384n5vg-a.oregon-postgres.render.com/task_manager_db_lckd
VITE_API_URL=https://task-manager-react-5slt.onrender.com
