body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}